.container{
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 36px;
}

.playerSelect{
    text-align: center;
}
.reset{
    text-align: center;
}

#playerScore{
    text-align: center;
}
#compScore{
    text-align: center;
}